---
layout: default
title: Page not found
---
<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Rural Alchemy - Page not found</title>

		{% include meta.html %}

		<!-- Google Tag Manager -->
		{% include google-tag-manager.html %}
		<!-- End Google Tag Manager -->
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Rural <span>Alchemy</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="recent-events.html">Recent Events</a></li>
				</ul>
			</nav>

		<!-- Content -->
			<section id="post" class="wrapper">
				<div class="inner">

					<article class="box">
						<header>
							<h2>404 - Are you the farmer?</h2>
							<p>
								"We've gone on holiday by mistake. We're in this cottage here. Are you the farmer?"
								<br>"Of course he's the ... farmer!"
							</p>
						</header>
					</article>
				</div>
			</section>

		<!-- Footer -->
		{% include footer.html %}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
				
	</body>
</html>