---
layout: default
title: Rural Alchemy
---
<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Rural Alchemy</title>
		{% include meta.html %}

	<!-- Google Tag Manager -->
	{% include google-tag-manager.html %}

	<!-- End Google Tag Manager -->

		<!-- https://cookieconsent.insites.com/download/ -->
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
		<script>
		window.addEventListener("load", function(){
			window.cookieconsent.initialise({
				"palette": {
					"popup": {
						"background": "#343c66",
						"text": "#cfcfe8"
					},
					"button": {
						"background": "transparent",
						"text": "#f71559",
						"border": "#f71559"
					}
				}
		})});
		</script>	

		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">		
	</head>
	<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FTSCJT"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">Rural <span>Alchemy</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="recent-events.html">Recent Events</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
						<img src="images/	LogoElements_WhiteOnly copy.png">
						<h1>RURAL ALCHEMY</h1>
						<p><span>Pop-Up Mixology &amp; Music</span></p>
					</header>
				</div>
				<a href="#one" class="more">Book Tickets</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="off-piste.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>UPCOMING EVENTS</h2>
							<p>RURAL ALCHEMY GOES 'OFF PISTE'!<p>
							<h2>Saturday 10th March 2018</h2>
						</header>
						<div class="content">
							<div>
								<img width="800" src="images/RA_ApresSki_MailchimpGraphic.jpg">
							</div>

							In collaboration with the team at Orchard View Farm, we've curated a gorgeous evening of apres-ski entertainment, featuring:

							<ul>
								<li>A warming welcome drink to kick start that alpine feeling.</li>
								<li>Three-course ski-supper served at 'The Trough', Orchard View Farm's stunning new outdoor kitchen. Just what you would expect from a night near the slopes, our menu is still being finalised, but will be based around high quality farm produce, beautifully cooked in our outdoor oven. </li>								
								<li>Henry's fabulous cocktails! A curated cocktail menu featuring both classics with a twist and some of our own clever creations will be available for you try: these are just the best! Enjoy your first cocktail free of charge.</li>
								<li>Bring your dancing shoes as - DJ Dan Blaze is on hand to make sure that your toes are tapping!</li>
								<li>FREE gin sampling and opportunity to 'Meet the Distiller' with local Oxfordshire micro-distillery, 'Twisting Spirits'.</li>
							</ul>
							
							Tickets cost: £39.50 ***GROUP DISCOUNT: Book 7 tickets and get your 8th ticket FREE! ***<br /> 
							Book and pay for 7 guests online and we'll add in an extra guest to your booking with our compliments*. For more information, please contact: <a href="mailto:sarah@ruralalchemy.co.uk">sarah@ruralalchemy.co.uk</a>. We'll do the rest.
						</div>
						<footer>
							<a href="https://www.eventbrite.com/e/rural-alchemy-goes-off-piste-tickets-41919326835" class="button alt">Book Tickets</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">Book Tickets</a>
			</section>


		<!-- Footer -->
		{% include footer.html %}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
<script type="text/javascript">
(function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/c/8/c8b343f4f286b292ff1c457fd697fd98/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));
</script>
	</body>
</html>
