---
layout: default
title: Recent Events
---

<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Rural Alchemy - Recent Events</title>
		{% include meta.html %}

		<style>
		.box {
  position: relative;
}
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 200px; height: 200px;
  text-align: right;
}
.ribbon span {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 200px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#C9B608 0%, #4F5501 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 50px; left: -36px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #C9B608;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #C9B608;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #C9B608;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #C9B608	;
}
</style>

	<!-- Google Tag Manager -->
	{% include google-tag-manager.html %}

		<!-- End Google Tag Manager -->

	</head>
	<body class="subpage">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FTSCJT"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	
		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Rural <span>Alchemy</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="recent-events.html">Recent Events</a></li>
				</ul>
			</nav>

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
				<div class="inner">

					<article class="box">
						<div class="ribbon"><span>SOLD OUT</span></div>
						<header>
							<h2>Jazz Alchemy</h2>
							<p>Saturday 11th November 2017</p>
						</header>
						<div class="content" class="container">
							<!-- Content -->
							<p>
								A night for relaxation, fun and friendship, with music by the Dancing Souls, cocktails by Henry, and seasonal food by Lassco
								3Pigeons.
							</p>
							<div class="row">
								<!-- Break -->
								<div class="4u 12u$(medium)">
									<h3>Dancing Souls</h3>
									<span class="image fit"><img src="images/sh_Keyboard_B&amp;W.jpg" alt="" /></span>
									<p>
										Dancing Souls are a new outfit, passionate about funky, groovy music, featuring Emlyn Jones on saxophone and Josh Siler on
										piano.
									</p>
									<p>
										Their performances are based on improvisation, influenced by both the Jazz greats, and disco and funk bands. No two performances
										are ever the same.
									</p>
								</div>
								<div class="4u 12u$(medium)">
									<h3>Henry</h3>
									<span class="image fit"><img src="images/rays-2258251_1920_SquareTint.jpg" alt="" /></span>
									<p>
										Henry is a young entrepreneur and founder of new bar business, Symposium. From cutting his (bartending) teeth in Leeds, he's
										worked his way up to managing a busy city-centre cocktail bar, before relocating to Towcester as bar manager for
										the award winning pub, 185.
									</p>
									<p>
										Now in the process of setting up his own event business, specialising in cocktails, Henry is delighted to be focusing on
										his favourite part of the bar industry.
									</p>
									<p>
										Favourite cocktail? An aged rum daiquiri shaken with a few mint leaves.
									</p>
									<p>
											Cocktail claim to fame? Working with Merlin ('First Dates' barman and mixologist) in his Northamptonshire pub!											
									</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<h3>Lassco 3Pigeons</h3>
									<span class="image fit"><img src="images/LasscoFood_Tint.jpg" alt="" /></span>
									<p>
										A quirky coaching inn with an all fresh kitchen on the London – Oxford turnpike, Lassco 3 Pigeons source food from local farms,
										wild food suppliers and their onsite vegetable and herb garden.
									</p>
									<p>
										Evening menus utilise ingredients at their very best, creating seasonal, simple food. With bar means starting from £12.50
										and a two-course menu from £18.00, there is something for everyone.
									</p>
									<p>
										<a href="https://www.lasscobar3ps.co.uk/">https://www.lasscobar3ps.co.uk/</a>
									</p>
									
								</div>
							</div>
						</div>
						<p>
							<div style="width:100%; text-align:left;" class="tickets">
								<div style="padding:10px; background-color:#363A43; height:300px; width:100%; color:white; border: 1px solid #D2D6DF; border-radius:4px">
									<h3>Tickets</h3>
									<p>
										All tickets are now sold. There are no tickets available on the door. 
									</p>
									<p>										Please keep in touch and we look forward to seeing you at
											our next event!
	</p>
								</div>

								<iframe src="//eventbrite.com/tickets-external?eid=38480365810&ref=etckt" frameborder="0" height="275" width="100%"
								 vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true" style="display:none"></iframe>
								<div style="display:none; font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;"><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/">Powered by Eventbrite</a></div>
							</div>
						</p>
						</div>
						<footer>
							<ul class="actions">
								<li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
		{% include footer.html %}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

			<script type="text/javascript">
				(function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/c/8/c8b343f4f286b292ff1c457fd697fd98/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));
				</script>
				
	</body>
</html>