<footer id="footer">
    <div class="inner">
        <div style="margin:0 auto;" id="zbwid-d78832c8"></div>
            
        <ul class="icons">
                <li><a href="https://twitter.com/RuralAlchemy" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/ruralalchemy/" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
                <!--<li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>-->
            </ul>

            <div class="copyright">
                &copy; Rural Alchemy 2017. <a href="terms.html">Website Terms</a>.
            </div>


    </div>
</footer>